@import "../../../views/styles/variables.scss";

.KanbanTask {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    width: 25rem;
    height: 15rem;
    
    margin-top: 1rem;
    margin-left: 2rem;

    border-radius: 1rem;

    display: flex;


    &__logo {
        height: 100%;

        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 0.5rem;
            
        }    

        button {
            
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &__header {
            display: flex;
            justify-content: space-between;
            padding-left: 0.5rem;
            padding-right: 1rem;
            margin-top: 1rem;
            
            
            align-items: center;
            padding-top: 0.5rem;

           h3 {
                font-size: 1.5rem;
           }

           .icon {
               width: 1.5rem;
               height: 1.5rem;
               

               &:hover {
                   cursor: pointer;
               }
               
           }
        }

        &__content {
            flex-grow: 1;
            padding-left: 0.5rem;
            padding-right: 2rem;
            overflow: hidden;


            
            align-items: center;
            padding-top: 0.5rem;

            p {
                font-size: 1.5rem;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
        padding-bottom: 1rem;
        
        align-items: center;
        padding-top: 0.5rem;

        p {
            font-size: 1rem;
        }

        button {
            width: 4.5rem;
            height: 3rem;
            background-color: #E8E8E8;
            border: none;
            border-radius: 1rem;

            &:hover {
                background-color: #D8D8D8;
                cursor: pointer;
                
        }
    }

}
}

.PopperMenu__container {
    background-color: $backgroungColor;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    border-radius: 0.5rem;

    padding: 0.5rem;
    font-size: 1.5rem;


    &__menu {
        
        



        li {
            list-style-type: none;
            padding: 0.5rem;
            border: none;
            border-radius: 0.5rem;

            &:hover {
                background-color: #D8D8D8;
                cursor: pointer;
            }
        }

        &__delete {
            background-color: #E7625F;
            color: white;
        }


    }
}