@import '../../views/styles/variables';
@import '../../views/styles/mixins';

.facebookButton { 
    width: 30rem;
    height: 5rem;
    background-color: $yellowFacebookButton;

    color: $purpleGrade;
    font-size: 2rem;

    @include flexCenter(row);

    gap: 1rem;

    .facebookIcon {
        font-size: 2.4rem;
    }

    border-radius: 1rem;
    font-weight: bold;

    border: 0;
    cursor: pointer;

    &:active{
        transform: scale(0.98);
    }
    &:hover{
        transform: scale(0.98);
    }
}