.projectTile {
    width: 32rem;
    height: 13rem;
    
    margin-top: 1rem;
    margin-left: 2rem;

    border-radius: 1rem;

    display: flex;

    &__logo {
        width: 4rem;
        height: 100%;
        // background-color: aqua;
        background: linear-gradient(135deg, yellow, purple);
        
        display: flex;
        justify-content: center;

        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
       

       
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        


        &__header {
            display: flex;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-top: 1rem;
            
            
            align-items: center;
            padding-top: 0.5rem;

           h3 {
                font-size: 1.5rem;
           }

           .icon {
               width: 1.5rem;
               height: 1.5rem;
               

               &:hover {
                   cursor: pointer;
               }
               
           }
        }

        &__content {
            flex-grow: 1;
            padding-left: 1rem;
            padding-right: 2rem;
            overflow: hidden;


            
            align-items: center;
            padding-top: 0.5rem;

            p {
                font-size: 1.5rem;
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            padding-right: 2rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
            
            align-items: center;
            padding-top: 0.5rem;

            font-size: 1.5rem;

            button {
                width: 4.5rem;
                height: 3rem;
                background-color: #E8E8E8;
                border: none;
                border-radius: 1rem;

                &:hover {
                    background-color: #D8D8D8;
                    cursor: pointer;
                    
                }
            }
            
            &__dueto {
                font-size: 1.5rem;
                

                .dueto {
                    font-weight: bold;
                }
            }

    }
    
    



    }
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}