@import '../../views/styles/variables';

.styledInputContainer {
    





    .styledInputText {
        text-align: left;
        font-size: 1.5rem;
    }

    .styledInput {
        width: 30rem;
        height: 5rem;
        font-size: 1.5rem;
        color: black;
        padding: 1rem;
        background-color: $purpleInput;
        border: 2px solid $purpleInputborder;
        border-radius: 1rem;
    }
}
