@import '../../views/styles/mixins';
@import '../../views/styles/variables';

.topBar {
    background-color: $backgroungColor;

    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-left: 1.5rem;

        .header {
            font-weight: 800;
        }
    }
    

    &__searchbar {
        height: 5rem;
        width: 50rem;
        @include flexCenter(row);

        border: 2px solid $purpleInputborder;

        img {
            margin-left: 1rem;
        }

        input {
            height: 5rem;
            width: 50rem;
            padding-left: 1rem;
            outline: none;
            border: none;
            background: none;
        }
    }

    &__profile {

        img {
            border-radius: 100%;
            margin-right: 2rem;
            border: 0.3rem solid $yellowGrade;
        }
    }
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}