@import './_variables';

html
{
    font-size: 10px;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: $backgroungColor;

}

.header {
    font-size: 4rem;
    font-weight: 800;
    color: $purpleGrade;
}

.subtext {
    text-decoration: none;
    font-size: 1.5rem;
    color: $purpleGrade;

    &__span {
        font-weight: bold;
    }
}

.subtext__forgot {
    text-decoration: none;
    text-align: right;
    margin-right: 2rem;
    width: 30rem;

    
    font-size: 1.5rem;
    color: $purpleGrade;

    &__span {
        font-weight: bold;
    }
}