@import './mixins';

.welcome {
    @include flexCenter(column);
    height: 100vh;

}



.ContinueWith {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include flexCenter(column);
    gap : 1.5rem;
}